requests     # For HTTP requests
pandas       # For plotly ... 
polars       # For fast data manipulation
plotly==5.24.1 # 5.24.1 seems to be more stable than 6.0.0 with Quarto dashboards
fastexcel    # For Excel files
geopy        # For geocoding
usaddress    # For address parsing
pyarrow      # For parquet files
great_tables # Static styled tables
itables      # Interactive tables
jupyter      # Quarto rendering
logging      # For logging